.profile-container {
    width: 100%; /* Adjust the size as needed */
    max-width: 1200px; /* Adjust the size as needed */
    margin: 50px auto; /* Center the container */
    background: white;
    border-radius: 10px; /* Optional: Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow */
    overflow: hidden; /* Ensures child elements don't overflow the container */
    padding: 20px; /* Adds some padding inside the container */
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.profile-header img {
    border-radius: 50%;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    margin-right: 20px;
}

.profile-header div {
    display: flex;
    flex-direction: column;
}

.profile-header h1 {
    font-size: 42px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.profile-header p {
    margin-top: 5px; /* Adjust the spacing as needed */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.profile-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.item-details {
    display: flex;
    width: 100%;
    margin-bottom: 20px; /* Adds space between item details and other content */
}

.price {
    font-family: 'Poppins', sans-serif;
}

.image-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Space between the image-price container and the info */
}

.item-details img {
    width: 400px; /* Adjust the size as needed */
    height: auto;
    border: 10px solid #fff; /* Add border with color and thickness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow */
    border-radius: 5px; /* Optional: Add rounded corners to the border */
    margin-bottom: 10px; /* Space between the image and the price */
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #3C5C3C; /* Green color for price */
    margin-bottom: 10px;
}

.dimensions {
    padding-bottom: 30px;
}

.item-info {
    flex: 1;
    font-weight: 100;
    margin-left: 20px;
}

.item-info p {
    margin: 5px 0;
}

.contact-button {
    background-color: #3C5C3C; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.contact-button:hover {
    background-color: #009e52; /* Darker blue on hover */
}

.post-reviews {
    margin-top: 20px;
    max-width: 700px;
}

.review-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px; /* Space between the image and the text */
}

.post-review h3 {
    margin: 5px 0 0 0; /* Adjust the spacing as needed */
    font-weight: bold;
    margin-right: 10px;
}

.post-review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
}

.post-review img {
    width: 60px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.post-review p {
    margin: 0;
    font-weight: 100;
    margin-top: 10px;
}

.chat-box {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    border: 2px solid #3C5C3C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px;
}


